<html>
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>ورود</title>
    <!-- icon in title bar-->
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'styles/global-styles.css' %}">
    <link rel="stylesheet" href="{% static 'styles/forms.css' %}">
    <!-- Shabnam font style -->
    <link rel="stylesheet" href="{% static 'styles/font.css' %}">
    <!-- bootstrap -->
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
</head>

<body class="flex-flow">

<!-- left side panel with login form -->
<div id="form">

    <form method="POST">
        {% csrf_token %}
        <label for="{{ user_form.username.id_for_label }}">نام کاربری<span
                class="text-danger">*</span></label>
        {{ user_form.username }}
        {% for err in user_form.username.errors %}
            <span class="text-danger d-inline">{{ err }}</span>
        {% endfor %}
        <br>

        <div class="row">
            <div class="col-md-6">
                <label for="{{ user_form.password1.id_for_label }}">رمز عبور<span
                        class="text-danger">*</span></label>
                {{ user_form.password1 }}
                {% for err in user_form.password1.errors %}
                    <span class="text-danger d-inline">{{ err }}</span>
                {% endfor %}
                <br>

            </div>
            <div class="col-md-6">
                <label for="{{ user_form.password2.id_for_label }}">تکرار رمز عبور<span
                        class="text-danger">*</span></label>
                {{ user_form.password2 }}
                {% for err in user_form.password2.errors %}
                    <span class="text-danger d-inline">{{ err }}</span>
                {% endfor %}
                <br>
            </div>
        </div>
        <button class="btn btn-block btn-success" type="submit">ورود</button>
    </form>
</div>
</body>
</html>